<div>
<ul>
  <ol>
{{#each shoppingCart.items as |item|}}
 <li>
    {{item.model}} -- {{item.currency}}{{item.price}}
  </li>
{{/each}}
</ol>
</ul>
  <div class = "totalstyle">
  Total = USD {{shoppingCart.subTotal}}
  </div>
</div>
