.image {
  height: 216px;
  width: 115px;
}
.image1 {
  height: 400px;
  width: 200px;
}
.displaystyle {
  float:right;
 text-align: center;
}
.totalstyle {
  border: 1px solid black;
text-align: center;
}
