<br><br><br><p>Business hours are from 9am - 5 pm  Monday through Friday and closed  on weekends.
 To purchase a watch, appointments are requested so please call 800 494 3708.
 <br>You do not need an appointment to sell a watch.</p>

<p>Contact us today!</p>

<p>
  Taral's Watches Headquarters<br>
  1212 Test Address Avenue<br>
  TestyMcTestington, OR 97233
</p>

<p>(503) 555-1212</p>

<p>taralwatch@xyz.com</p>
