<br><br><br><h1> Welcome to Taral's Watches </h1>

Our watches are synonymous with style, elegance, and sophistication. <br><br><br><br>

<ul>
  {{#each model as |product|}}
  <div class = "col-md-4">
    {{product-tile product=product}}
  </div>
  {{/each}}
</ul>
<!-- <ul>
  {{#each model as |product|}}
    {{product-detail product=product destroyProduct="destroyProduct"}}
  {{/each}}
</ul> -->
